<div class="container mt-4" style="min-height: calc(100vh - 180px)" *ngIf="user">
    <h2>Change Password</h2>
    <form>
        <div class="mb-3 mt-4">
            <label class="form-label">Old Password:</label>
            <input type="text" class="form-control" [(ngModel)]="password.oldPassword" name="password">
        </div>
        <div class="mb-3">
            <label class="form-label">New Password:</label>
            <input type="text" class="form-control" name="newPassword" [(ngModel)]="password.newPassword">
        </div>
        <div class="mb-3">
            <label class="form-label">Confirm Password:</label>
            <input type="text" class="form-control" name="confirmPassword" [(ngModel)]="password.confirmPassword">
        </div>
        <button type="button" class="btn btn-dark" (click)="savePassword()">Update Password</button>
    </form>
</div>