<div style="min-height: calc(100vh - 180px)">
  <div class="container mt-4">
    <h2>Select Payment Method</h2>
  </div>

  <div class="container flex-container mt-3">
    <input type="radio" class="btn-check" name="paymentMethod" id="cashOnDelivery" value="COD"
      [(ngModel)]="paymentMethod" (change)="togglePaymentDetails()" checked>
    <label class="btn btn-outline-dark" for="cashOnDelivery">Cash on Delivery</label>

    <input type="radio" class="btn-check" name="paymentMethod" id="upi" value="UPI" [(ngModel)]="paymentMethod"
      (change)="togglePaymentDetails()">
    <label class="btn btn-outline-dark" for="upi">UPI</label>

    <input type="radio" class="btn-check" name="paymentMethod" id="creditCard" value="Credit Card"
      [(ngModel)]="paymentMethod" (change)="togglePaymentDetails()">
    <label class="btn btn-outline-dark" for="creditCard">Credit Card</label>

    <input type="radio" class="btn-check" name="paymentMethod" id="debitCard" value="Debit Card"
      [(ngModel)]="paymentMethod" (change)="togglePaymentDetails()">
    <label class="btn btn-outline-dark" for="debitCard">Debit Card</label>

    <input type="radio" class="btn-check" name="paymentMethod" id="netBanking" value="Net Banking"
      [(ngModel)]="paymentMethod" (change)="togglePaymentDetails()">
    <label class="btn btn-outline-dark" for="netBanking">Net Banking</label>
  </div>

  <div id="paymentDetails" class="mt-5 container" *ngIf="paymentMethod !== 'COD'">
    <h4>Enter Payment Details</h4>
    <div id="upiSection" class="mb-2" *ngIf="paymentMethod === 'UPI'">
      <input type="text" class="form-control" [(ngModel)]="upiId" name="upiId"
        placeholder="Enter UPI ID (Ex. example@somebank)">
    </div>
    <div id="cardSection" class="mb-2" *ngIf="paymentMethod === 'Credit Card' || paymentMethod === 'Debit Card'">
      <input type="number" class="form-control" [(ngModel)]="cardNumber" name="cardNumber" placeholder="Card Number">
      <input type="text" class="form-control mt-2" [(ngModel)]="cardExpiry" name="cardExpiry"
        placeholder="Expiry (MM/YY)">
      <input type="number" class="form-control mt-2" [(ngModel)]="cardCVV" name="cardCVV" placeholder="CVV">
    </div>
    <div id="netBankingSection" class="mb-2" *ngIf="paymentMethod === 'Net Banking'">
      <select class="form-select" [(ngModel)]="bankName" name="bankName">
        <option value="">Select Bank</option>
        <option value="HDFC">HDFC Bank</option>
        <option value="ICICI">ICICI Bank</option>
        <option value="SBI">State Bank of India</option>
        <option value="AXIS">Axis Bank</option>
      </select>
      <input type="number" class="form-control mt-2" [(ngModel)]="accountNumber" name="accountNumber"
        placeholder="Account Number">
      <input type="text" class="form-control mt-2" [(ngModel)]="ifscCode" name="ifscCode"
        placeholder="IFSC Code (Ex. SBIN123456)">
    </div>
  </div>

  <div class="container mt-5">
    <h4 class="mt-4 mb-2">Final Pricing Details</h4>
    <ul class="list-group">
      <li class="list-group-item">Total Product Price: ₹{{ total }}</li>
      <li class="list-group-item">Total Discount: ₹{{ discount.toFixed(2) }} (10% Discount)</li>
      <li class="list-group-item">GST Charges: ₹{{ gstCharges.toFixed(2) }} (18% - Before Discount)</li>
      <li class="list-group-item">Delivery Charges: ₹{{ deliveryCharges }}</li>
      <li class="list-group-item fw-bold">Order Total: ₹{{ orderTotal }}</li>
    </ul>
  </div>

  <div class="container">
    <button class="btn btn-dark mt-3" (click)="completeTransaction()">Proceed to Buy</button>
  </div>
</div>